<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="conString" value="Data Source=DELL-PC;Initial Catalog=Propertydb;Integrated Security=true;"/>
		<add key="AdvertisementImage" value="Image_Repository/AdvertisementImages/"/>
		<add key="MemberImage" value="Image_Repository/MemberImages/"/>
		<add key="PropertyImageBIG" value="Image_Repository/PropertyImages/BigImages/"/>
		<add key="PropertyImageSMALL" value="Image_Repository/PropertyImages/SmallImages/"/>
		<add key="PropertyImageTHUMB" value="Image_Repository/PropertyImages/ThumbImages/"/>
		<add key="FromMail" value="admin@landnet.com"/>
		<add key="ToMail" value="admin@landnet.com"/>
		<add key="AdminMail" value="admin@landnet.com"/>
		<add key="InternalUrl" value="http://localhost/landnet/"/>
		<add key="SMTPServerIPAddress" value="localhost"/>
	</appSettings>
	<connectionStrings>
		<add name="conString" connectionString="Data Source=DESKTOP-I69OQPV\SQLEXPRESS;Initial Catalog=Propertydb;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
				<!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
			</webServices>
			<!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
		</scripting>
	</system.web.extensions>
</configuration>
